<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "Application", href="http://www.dentonisd.org/cms/lib/TX21000245/Centricity/Domain/1963/auto-loan-individual.pdf", class: "nav-link" %>
        <%= link_to "Inventory", pages_inventory_path, class: "nav-link" %>
    </ul>
    <div class="navbar-nav">
        <%= link_to "About us", pages_about_path, class: "nav-link" %>
        <%= link_to "Contact us", pages_contact_path, class: "nav-link" %>
        <%= login_helper "nav-link" %>
    </div>
  </div>
</nav>