    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        <%= image_tag "toggle_the_aventador.jpg", class: ("first-slide"), alt: ("First slide") %> 
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
              <h1>Welcome to Auto Mart</h1>
              <p>We have good selection of various makes and models for you. Feel free to browse and explore your options</p>
              <p><%= link_to "Sign up today", new_user_registration_path, class: ("btn btn-lg btn-primary") %></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "toggle_mclaren_570gt.jpg", class: ("first-slide"), alt: ("First slide") %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h1>We are here to help you</h1>
              <p>Please do not hesitate to contact us if you have any questions related to our inventory, financing options and even to do a test drive.</p>
              <p><%= link_to "Learn more", pages_contact_path, class: ("btn btn-lg btn-primary") %></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "toggle_ferrari_sport.jpg", class: ("first-slide"), alt: ("First slide") %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right">
              <h1>Hundreds of cars to choose from</h1>
              <p>We know you want to look at several options before you make any decision, thats why we have hundreds of cars that you can see, test drive and have a total confidence. Please visit us.</p>
              <p><%= link_to "Browse Gallary", pages_inventory_path, class: ("btn btn-lg btn-primary") %></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag "2010range_rover.jpg", width: 140, height: 140, class: ("rounded-circle") %> 
          <h2>Featured Car</h2>
          <p>2010 Range Rover</p>
          <p><a class="btn btn-secondary" href="pages/show" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "2013-BMW-X6.jpg", width: 140, height: 140, class: ("rounded-circle") %> 
          <h2>Featured Car</h2>
          <p>2013-BMW-X6</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "2013-Lexus-RX-350.jpg", width: 140, height: 140, class: ("rounded-circle") %> 
          <h2>Featured Car</h2>
          <p>2013, Lexux-RX-350</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
