<h1>Inventory</h1>

<div class="row">
 <%= image_tag "2014-bmw_328d.jpg", width: 240, height: 240, class: ("rounded-circle") %>   
  <p>2014 BMW 328d</p>
  <p><a class="btn btn-secondary" href="#" role="button">  View details &raquo;</a></p>
</div>
   
<div class="row" >
  <%= image_tag "2014_mercedes_450.jpg", width: 240, height: 240, class: ("rounded-circle") %> 
  <p>2014 Mercedes 450</p>
  <p><a class="btn btn-secondary" href="#" role="button">  View details &raquo;</a></p>
</div>
<div class="row">
  <%= image_tag "2015-Toyota H.lander.jpeg", width: 240, height: 240, class: ("rounded-circle") %> 
  <p>2015 Toyota H.lander</p>
  <p><a class="btn btn-secondary" href="#" role="button"> View details &raquo;</a></p>
</div>
<div class="row">
  <%= image_tag "2015_Audi_7.jpg", width: 240, height: 240, class: ("rounded-circle") %> 
  <p>2015 Audi Q7</p>
  <p><a class="btn btn-secondary" href="#" role="button"> View details &raquo;</a></p>
</div>
<div class="row">
  <%= image_tag "2015_Subaru_Impreza.jpg", width: 240, height: 240, class: ("rounded-circle") %> 
  <p>2015_Subaru_Impreza</p>
  <p><a class="btn btn-secondary" href="#" role="button"> View details &raquo;</a></p>
</div>
<div class="row">
  <%= image_tag "2016-Mazda6.jpg", width: 240, height: 240, class: ("rounded-circle") %> 
  <p>2016 Mazda 6</p>
  <p><a class="btn btn-secondary" href="#" role="button"> View details &raquo;</a></p>
</div>



